[Unit]
Description=Google Drive Backup

[Service]
Type=simple
User=samuel
ExecStart=/path/to/gdrive-backup/backup.py /path/to/config and credential files/

[Install]
WantedBy=multi-user.target